<!-- <div id = "AllGraphsChart"  style="width:100%; margin: auto; font-size: 20px; color: #ffffff; font-family: Arial; display: none">
  	Hillary Clinton:
  	<div ng-repeat = "topic in top10.Bubbles | filter : Hillary Clinton">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	Donald Trump:
  	  	<div ng-repeat = "topic in top10.Bubbles | filter : Donald Trump">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	Russia:
  	  	<div ng-repeat = "topic in top10.Bubbles | filter : Russia">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	China:
  	  	<div ng-repeat = "topic in top10.Bubbles | filter : China">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	Trump Tower : 
  	  	  	<div ng-repeat = "topic in top10.Bubbles | filter : Trump Tower">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	Emails:
  	  	  	<div ng-repeat = "topic in top10.Bubbles | filter : Emails">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	Bengahzi:
  	  	  	<div ng-repeat = "topic in top10.Bubbles | filter : Benghazi">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
  	<br>
  	Brenie Sanders :
  	  	  	<div ng-repeat = "topic in top10.Bubbles | filter : Bernie Sanders">
  		
  	<span class="verticalLine" style="height: {{topic.count/10}}px; width:0.00273%; float: left; bottom: 0px"></span>
  	</div>
</div> -->