<header id = "header" style="background: #2c2a34; width:100%; height:57px; color: #ffffff; line-height: 57px; position: fixed">
	<img src="images/logo.png" style="width:256px; height: 57px; display: inline-block">
	<span id = "showBubblesButton" onclick="showBubbles()" style="float:right; line-height: 57px; font-family: Arial; font-size: 20px; cursor: pointer">bubbles</span>
	<span id= "showGraphButton" onclick="showGraph()" style="float:right; line-height: 57px; font-family: Arial; font-size: 20px; color: #666666; cursor: pointer">graph  &nbsp</span>
	
	<!-- <img src="images/searchIcon.png" style="width:45px; height: 45px; display: inline-block; float: right"> -->
	<!-- <div id="todaysDate" style="text-align: center; line-height: 120px;vertical-align: top; font-size: x-large; border-bottom: 1px solid #000">28 December, 2016</div> -->
</header>