<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
   <script src="https://code.angularjs.org/1.3.11/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src= "scripts/main.js"></script>


<!--@if devBuild -->

<!-- @endif -->

<!--@if !devBuild -->

<!-- @endif -->
<script>



$( document ).ready(function() {
	for  (i=1; i<=12; i++) {
		var dayNum =31;
		switch (i) {
			
			case 1: $("#timeLine").append ("<b>Jan</b>");  break;
			case 2: $("#timeLine").append ("<b>Feb</b>"); dayNum =28; break;
			case 3: $("#timeLine").append ("<b>Mar</b>"); break;
			case 4: $("#timeLine").append ("<b>Apr</b>"); dayNum =30; break;
			case 5: $("#timeLine").append ("<b>May</b>"); break;
			case 6: $("#timeLine").append ("<b>Jun</b>"); dayNum =30; break;
			case 7: $("#timeLine").append ("<b>Jul</b>"); break;
			case 8: $("#timeLine").append ("<b>Aug</b>"); break;
			case 9: $("#timeLine").append ("<b>Sep</b>"); dayNum =30; break;
			case 10: $("#timeLine").append ("<b>Oct</b>"); break;
			case 11: $("#timeLine").append ("<b>Nov</b>"); dayNum =30; break;
			case 12: $("#timeLine").append ("<b>Dec</b>"); break;
		}
		
		if (i<10) {i= '0'+i;}
	for (j=1; j<=dayNum; j++){
		
		if (j<10) {j= '0'+j;}
	$("#timeLine").append ('<span id= "2016-' + i + '-' + j +'" ng-mouseover = "getByDate($event)">' + "." +'<span>');
	}
	}
});

function play () {
	setTimeout(function(){ $("#dateInput").val ("9"); }, 3000);
}

function showGraph () {
	document.getElementById("dom").style.cursor = "progress";
	$("#showGraphButton").css ("color", "#ffffff");
	$("#showBubblesButton").css ("color", "#666666");
	$("#graphChart").show();
	$("#bubbleChart").hide();

	
	document.getElementById("dom").style.cursor = "default";
}

function showAllGraphs () {
	$("#showGraphButton").css ("color", "#ffffff");
	$("#showBubblesButton").css ("color", "#666666");
	$("#AllGraphsChart").show();
	$("#bubbleChart").hide();
}

function showBubbles () {
	document.getElementById("dom").style.cursor = "progress";
		$("#showGraphButton").css ("color", "#666666");
	$("#showBubblesButton").css ("color", "#ffffff");
	$("#graphChart").hide();
	$("#bubbleChart").show();

	document.getElementById("dom").style.cursor = "default";
}
	
</script>