<!DOCTYPE html>
<html ng-app="Bubbles">
     <head>
         <title>Bubbles</title>
         <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
     </head>
         <body ng-controller="BubblesCtrl">
            <header>
                <a href="index.html" id="logo"> </a>
            </header>
         <div id="wrapper">
         <main>
             <tbody>
               <div ng-repeat="bubble in showbubbles.Bubbles" class="">
                         <h1 class="">{{bubble.topic}}</h1>
                         <h4 class="">{{bubble.date}}</h4>
                          <h4 class="">{{bubble.count}}</h4>
                </div>
                <div ng-repeat="event in showbubbles.sideEvent" class="">
                         <h1 class="">{{event.topic}}</h1>
                         <h4 class="">{{event.date}}</h4>
                         <h1 class="">{{event.description}}</h1>
                </div>
             </tbody>
             </main>
         <div class="clear"></div>
     <footer>

     </footer>
     </div>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/lib/angular/angular-resource.min.js"></script>
        <script src="js/lib/angular/angular-route.min.js"></script>
        <script src="js/BubblesController.js"></script>
 </body>
 </html>